@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../css/webfonts/Poppins/Poppins-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 600;
    src: url('../css/webfonts/Poppins/Poppins-Bold.ttf') format(truetype);
}


